<div class="parent">
    <div class="wrapper">
        <form action="#">
            <h2>Change Password</h2>
            <div class="input-field">
                <input type="text" [(ngModel)]="changePassObj.email" name="email" readonly required>
            </div>
            <div class="input-field password-field">
                <input [type]="showCurrentPassword ? 'text' : 'password'" [(ngModel)]="changePassObj.currentPassword" name="currentPassword"
                    required>
                <span class="toggle-password" (click)="togglePasswordVisibilityNew()">
                    {{ showCurrentPassword ? 'Hide' : 'Show' }}
                </span>
                <label>Enter your current password</label>
            </div>
            <div class="input-field password-field">
                <input [type]="showNewPassword ? 'text' : 'password'" [(ngModel)]="changePassObj.newPassword" name="newPassword"
                    required>
                <span class="toggle-password" (click)="togglePasswordVisibilityCon()">
                    {{ showNewPassword ? 'Hide' : 'Show' }}
                </span>
                <label>Enter your new password</label>
            </div>
            <button type="Submit" class="btn btn-success" (click)="changePassword()" [disabled]="!changePassObj.currentPassword || !changePassObj.newPassword">Change</button>
        </form>
    </div>
</div>

