<div class="parent">
    <div class="container">
        <div *ngIf="application" class="card">
            <h2>Confirm Deletion</h2>
            <p style="color: red;">Are you sure you want to delete the following application?</p>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><b>Applicant Fullname: </b> {{ application.applicantFullName }}</li>
            <li class="list-group-item"><b>Application Purpose: </b> {{ application.appliedFor }}</li>
            <li class="list-group-item"><b>Application Date: </b> {{ application.date }}</li>
            <li class="list-group-item"><b>Application Status: </b> {{ applicationStatusMap[application.status] }}</li>
          </ul>
          <div class="card-body">
            <button (click)="confirmDelete()" class="btn btn-danger">Delete</button>
            <button (click)="cancelDelete()" class="btn btn-secondary">Cancel</button>
          </div>
        </div>
      </div>
</div>

