
<!-- admin-navbar.component.html -->
<nav class="header">
    <button class="sidebar-toggle" (click)="toggleSidebar.emit()">☰</button>
  
    <div class="user-menu" (click)="toggleDropdown()">
      <img [src]="user.profilePic" class="profile-pic" />
      <span>{{ user.fullName }}</span>
      <i class="bi bi-chevron-down"></i>
  
      <ul class="dropdown" *ngIf="isDropdownOpen">
        <li><i class="bi bi-person-circle"></i><a [routerLink]="['/users',user.email,'detail']" >Profile</a></li>
        <li><i class="bi bi-gear"></i><a href="#">Settings</a></li>
        <li><i class="bi bi-box-arrow-right"></i><a (click)="signOut()">Logout</a></li>
      </ul>
    </div>
  </nav>
  
  
  