.parent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f9fa;
  }
  
  .container {
    max-width: 600px;
    margin: 20px;
  }
  
  .card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 0.3s ease;
  }
  
  .card:hover {
    transform: scale(1.02);
  }
  
  h2 {
    font-family: 'Merriweather', serif;
    font-size: 24px;
    color: #343a40;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .list-group-item {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #495057;
    padding: 12px;
    border: none;
    background-color: #f9f9f9;
  }
  
  .list-group-item b {
    color: #212529;
  }
  
  .card-body {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
  }
  
  .card-link {
    font-family: 'Merriweather', serif;
    font-size: 16px;
    color: #007bff;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
  }
  
  .card-link:hover {
    color: #0056b3;
  }
  
  .card-body a:first-child {
    margin-right: auto;
  }
  