
<div class="parent">
    <div class="wrapper">
        <form (submit)="forgetPassword($event)">
            <h2>Forget Password</h2>
            <p>You can reset your Password here</p>

            <div class="input-field">
                <input type="text" [(ngModel)]="email" name="email" required>
                <label>Enter your email</label>
            </div>

            <button class="btn btn-primary"  type="submit"   [disabled]="isLoading" [disabled]="!email">
                <span *ngIf="isLoading" class="spinner-grow spinner-grow-sm" aria-hidden="true"></span>
                <span *ngIf="isLoading" role="status">Loading...</span>
                <span *ngIf="!isLoading">Reset Password</span>
            </button>
        </form>
    </div>
</div>
