/* Layout wrapper */
.layout-wrapper {
  display: flex;
  transition: all 0.3s ease; /* Smooth transition for layout */
  height: 100vh;
}

/* Sidebar Styling */
app-admin-navbar {
  position: fixed;
  top: 60px; /* Height of header */
  left: 0;
  height: calc(100vh - 60px);
  width: 260px;
  transition: width 0.3s ease-in-out;
  z-index: 100;
}

app-admin-navbar.sidebar-collapsed {
  width: 60px; /* Sidebar collapsed width */
}

/* Main content area */
.main-content {
  margin-top: 30px; /* Reduce the margin to move the content up (from 60px to 50px) */
  margin-left: 260px; /* Default sidebar width */
  padding: 20px;
  transition: margin-left 0.3s ease-in-out, margin-top 0.3s ease-in-out;
  width: 100%;
  min-height: 100vh;
  background-color: #f8f9fa;
  overflow-x: hidden;
}

/* When the sidebar is collapsed */
.main-content.sidebar-collapsed {
  margin-left: 60px; /* Adjust the margin when the sidebar is collapsed */
}

/* Body overflow fix */
body {
  overflow-x: hidden;
}

/* Sidebar toggle button */
button.sidebar-toggle {
  font-size: 22px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}
