<div class="sidebar" [class.collapsed]="!isSidebarOpen">
  <ul class="nav flex-column">

    <li class="dashboard-link">
  <a [routerLink]="'/dashboard'" class="d-flex align-items-center">
    <i class="bi bi-speedometer2 me-2"></i>
    <span *ngIf="isSidebarOpen">Dashboard</span>
  </a>
</li>


    <li *ngFor="let section of sidebarSections">
      <button class="btn-toggle" (click)="toggleCollapse(section.id)">
        <i class="{{ section.icon }} me-2"></i>
        <span *ngIf="isSidebarOpen">{{ section.title }}</span>
        <i class="bi bi-caret-down-fill ms-auto" 
           [class.rotate]="isSectionOpen(section.id)"></i>
      </button>
      <ul class="submenu" [class.show]="isSectionOpen(section.id)">
        <li *ngFor="let link of section.links">
          <a [routerLink]="link.route">
            <i class="{{ link.icon }} me-2"></i>
            <span *ngIf="isSidebarOpen">{{ link.label }}</span>
          </a>
        </li>
      </ul>
    </li>
  </ul>
</div>
