
   .sidebar {
    height: 100vh; 
    position: fixed; 
    top: 60px;
    height: calc(100vh - 60px); 
    left: 0;
    overflow-x: hidden; 
    padding-top: 20px;
    background-color: #f8f9fa; 
    box-shadow: 2px 0 5px rgba(0,0,0,0.1); 
}

.sidebar a {
    color: darkred; 
    font-weight: 600;
    text-decoration: none;
}

.sidebar a:hover {
    background-color: darkred; 
    color: white; 
    padding-left: 10px; 
    transition: 0.2s ease-in-out; 
}

.btn-toggle {
    width: 100%;
    text-align: left;
    padding: 10px;
    color: #333; 
    font-weight: 600;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: space-between; 
}

.btn-toggle:hover {
    color: darkred; 
    background-color: #e9ecef; 
}

.btn-toggle-nav a {
    padding-left: 20px;
    font-size: 14px;
    color: #495057;
}

.collapse ul {
    background-color: #f8f9fa;
}

.bi-caret-down-fill {
    margin-left: auto;
    font-size: 1rem; 
    color: white;
}

.collapse ul a {
    padding-left: 30px;
    color: darkred; 
}

.collapse ul a:hover {
    color: white;
    background-color: darkred; 
}

.dashboard-title {
    color: darkred; 
    transition: color 0.3s ease; 
}

.dashboard-title:hover {
    color: white; 
}




