.sidebar {
    width: 280px;
    background-color: #f8f9fa;
    padding: 15px;
    color: #003366; /* Dark blue color for text */
    position: fixed; /* Fix the sidebar */
    top: 0; /* Start at the top of the viewport */
    left: 0; /* Align to the left of the viewport */
    height: 100vh; /* Full viewport height */
    overflow-y: auto; /* Allow scrolling within the sidebar if content overflows */
    z-index: 1000; /* Make sure it stays on top of other elements */
  }
  


/* new sidebar  */
.btn-toggle {
    display: inline-flex;
    align-items: center;
    padding: .25rem .5rem;
    font-weight: 600;
    color: darkblue;
    background-color: transparent;
    border: 0;
  }
  .btn-toggle:hover,
  .btn-toggle:focus {
    color: darkblue;
    background-color: #d2f4ea;
  }
  
  .btn-toggle::before {
    width: 1.25em;
    line-height: 0;
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
    transition: transform .35s ease;
    transform-origin: .5em 50%;
  }
  
  .btn-toggle[aria-expanded="true"] {
    color: darkblue
  }
  .btn-toggle[aria-expanded="true"]::before {
    transform: rotate(90deg);
  }
  
  .btn-toggle-nav a {
    display: inline-flex;
    padding: .1875rem .5rem;
    margin-top: .125rem;
    margin-left: 1.25rem;
    text-decoration: none;
  }
  .btn-toggle-nav a:hover,
  .btn-toggle-nav a:focus {
    background-color: #d2f4ea;
  }


.menu-container a, 
.menu-container button {
  color: darkblue;
}

.menu-container .border-bottom,
.menu-container .border-top {
  border-color: darkblue !important;
}

.menu-container .btn-toggle-nav a {
  color: darkblue;
}

  
  