<div class="parent">
    <div class="wrapper">
        <form action="#">
            <h2>Reset Password</h2>
            <div class="input-field">
                <input type="text" [(ngModel)]="resetPassObj.email" name="email" readonly required>
            </div>
            <div class="input-field password-field">
                <input [type]="showNewPassword ? 'text' : 'password'" [(ngModel)]="resetPassObj.newPassword" name="newPassword"
                    required>
                <span class="toggle-password" (click)="togglePasswordVisibilityNew()">
                    {{ showNewPassword ? 'Hide' : 'Show' }}
                </span>
                <label>Enter your new password</label>
            </div>
            <div class="input-field password-field">
                <input [type]="showConPassword ? 'text' : 'password'" [(ngModel)]="resetPassObj.confirmPassword" name="confirmPassword"
                    required>
                <span class="toggle-password" (click)="togglePasswordVisibilityCon()">
                    {{ showConPassword ? 'Hide' : 'Show' }}
                </span>
                <label>Confirm your password</label>
            </div>
            <button type="Submit" class="btn btn-success" (click)="resetPassword()" [disabled]="!resetPassObj.newPassword || !resetPassObj.newPassword">Reset</button>
        </form>
    </div>
</div>
