<div class="parent">
    <div class="wrapper">
        <form action="#">
            <h2>Login</h2>
            <div class="input-field">
                <input type="text" [(ngModel)]="signInObj.membershipNumber" name="membershipNumber" required>
                <label>Enter your membership number</label>
            </div>
            <div class="input-field password-field">
                <input [type]="showPassword ? 'text' : 'password'" [(ngModel)]="signInObj.password" name="password"
                    required>
                <span class="toggle-password" (click)="togglePasswordVisibility1()">
                    {{ showPassword ? 'Hide' : 'Show' }}
                </span>
                <label>Enter your password</label>
            </div>
            <div class="forget">
                <label for="remember">
                    <input type="checkbox" [(ngModel)]="signInObj.rememberMe" name="rememberMe" id="remember">
                    <p>Remember me</p>
                </label>
                <a [routerLink]="['/forget-password']">Forgot password?</a>
            </div>
            <button type="Submit" class="btn btn-success" (click)="signIn()">Sign In</button>
            <div class="register">
                <p>Don't have an account? <a [routerLink]="['/sign-up']">Sign Up</a></p>
            </div>
        </form>
    </div>
</div>