<div class="container">
    <h1 class="header">Trainings</h1>
    <div *ngIf="paginatedData && paginatedData.length > 0; else noTrainings">
        <!-- Controls Section -->
        <div class="controls-section">
            <!-- Dropdown for selecting page size -->
            <div class="page-size">
                <label for="pageSize"><b>Select Page Size:</b></label>
                <select [(ngModel)]="pageSize" (change)="onPageSizeChange()">
                    <option *ngFor="let size of pageSizes" [value]="size">{{size}}</option>
                </select>
            </div>

            <!-- Filtering Section -->
            <div class="filter-section">
                <label for="filter"><b>Filter Trainings:</b></label>
                <input type="text" [(ngModel)]="params.searchQuery" placeholder="Enter search keyword" />
                <button class="btn btn-primary" (click)="searchTrainings()">Search</button>
            </div>

            <!-- Pagination controls -->
            <div class="pagination-controls">
                <button class="btn btn-primary" (click)="previousPage()" [disabled]="pageNumber === 1">Previous</button>
                <span><b>{{ pageNumber }}</b></span>
                <button class="btn btn-primary" (click)="nextPage()"
                    [disabled]="(pageNumber * pageSize) >= totalTrainings">Next</button>
            </div>
        </div>

        <table id="example" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Sr No</th>
                    <th>Training Title</th>
                    <th>Training Category</th>
                    <th>Training Status</th>
                    <th>Training Fee</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of paginatedData; let i = index">
                    <td>{{ (pageNumber - 1) * pageSize + i + 1 }}</td>
                    <td>{{ item.title}}</td>
                    <td>{{ trainingCategoryMap[item.category] }}</td>
                    <td>{{ trainingStatusMap[item.status] }}</td>
                    <td>{{ item.fee }}</td>
                    <td>
                        <button class="btn btn-primary" [routerLink]="['/trainings', item.id]">Detail</button>
                        <button class="btn btn-danger" *ngIf="isAdmin" [routerLink]="['/trainings', item.id, 'delete']">Delete</button>
                        <button class="btn btn-primary mx-2" *ngIf="item.status === 1 || item.status === 2 && !isAdmin"  [routerLink]="['/applications', item.id, 'create']" [queryParams]="{ paymentType: 'Examination' }">Apply</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>


    <ng-template #noTrainings>
        <p class="no-trainings-message">
            <b>No training available at the moment.</b>
        </p>
    </ng-template>
</div>