<app-home-navbar></app-home-navbar>
<div class="text-center page-container">
    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column" id="home-section">
        <main role="main" class="inner cover">
            <h1 class="cover-heading">Cover your page.</h1>
            <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit
                the text, and add your own fullscreen background photo to make it your own.</p>
            <p class="lead">
                <a href="#" class="btn btn-lg btn-primary custom-btn">Learn more</a>
            </p>
        </main>
        <div class="about-us-container" id="about-us-section">
            <app-about-us></app-about-us>
        </div>
        <div class="contact-us-container" id="contact-us-section">
            <app-contact></app-contact>
        </div>

        <div class="footer-container" id="footer-section">
            <div class="footer">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-sm-4 col-xs-12">
                            <div class="single_footer">
                                <h4>Services</h4>
                                <ul>
                                    <li><a href="#">Lorem Ipsum</a></li>
                                    <li><a href="#">Simply dummy text</a></li>
                                    <li><a href="#">The printing and typesetting </a></li>
                                    <li><a href="#">Standard dummy text</a></li>
                                    <li><a href="#">Type specimen book</a></li>
                                </ul>
                            </div>
                        </div><!--- END COL -->
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="single_footer single_footer_address">
                                <h4>Page Link</h4>
                                <ul>
                                    <li><a href="#">Lorem Ipsum</a></li>
                                    <li><a href="#">Simply dummy text</a></li>
                                    <li><a href="#">The printing and typesetting </a></li>
                                    <li><a href="#">Standard dummy text</a></li>
                                    <li><a href="#">Type specimen book</a></li>
                                </ul>
                            </div>
                        </div><!--- END COL -->
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="single_footer single_footer_address">
                                <h4>Subscribe today</h4>
                                <div class="signup_form">
                                    <form action="#" class="subscribe">
                                        <input type="text" class="subscribe__input" placeholder="Enter Email Address">
                                        <button type="button" class="subscribe__btn"><i
                                                class="fas fa-paper-plane"></i></button>
                                    </form>
                                </div>
                            </div>
                            <div class="social_profile">
                                <ul>
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                </ul>
                            </div>
                        </div><!--- END COL -->
                    </div><!--- END ROW -->
                    <div class="row">
                        <div class="col-lg-12 col-sm-12 col-xs-12">
                            <p class="copyright">Copyright © 2019 <a href="#">Akdesign</a>.</p>
                        </div><!--- END COL -->
                    </div><!--- END ROW -->
                </div><!--- END CONTAINER -->
            </div>

        </div>
    </div>

</div>