<app-home-navbar></app-home-navbar>
<div class="container">
  <div class="top-section">

    <h1 class="cover-heading">
      Professional Driving Instructors
      <span>Academy Of Nigeria (PDIAN)</span>

      <p class="motto">
        PDIAN... <span class="italic" style="font-style: italic;">promoting road safety conscious society</span>
      </p>

    </h1>



  </div>

  <p class="lead">
    Welcome to Professional Driving Instructors Academy Of Nigeria (PDIAN), your trusted partner in becoming a skilled
    and confident driver.
    We offer expert driving lessons tailored to your needs, with a focus on safety, road awareness,
    and practical experience.
    Join us today and take the first step towards mastering the road!
  </p>



  <img src="assets/images/bas-peperzak-tyhpK_QelPo-unsplash.jpg"
    alt="Professional Driving Instructors Academy Of Nigeria (PDIAN)">

</div>

<app-about-us></app-about-us>
<app-footer></app-footer>