<nav class="navbar navbar-expand-lg navbar-dark navbar-dark-custom">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="assets/images/driving logo.png" alt="logo-image" class="image">
            <b> IPDIN</b>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
            aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                <li class="nav-item">
                    <a class="nav-link" [ngClass]="{'active': isActive('home')}" (click)="setActive('home')"
                    [routerLink]="['/home']">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [ngClass]="{'active': isActive('news')}" (click)="setActive('news')">News</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [ngClass]="{'active': isActive('dashboard')}" (click)="setActive('dashboard')"
                    [routerLink]="['/dashboard']">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [ngClass]="{'active': isActive('users/add-admin')}" (click)="setActive('users/add-admin')">Add Admin</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


  
<div class="progress-wrapper">
    <div id="progress-bar-container">
      <ul class="steps-list">
        <li *ngFor="let step of stepsList" class="step" (click)="setActiveStep(step)" [ngClass]="{ 'active': step.stepName === activeStep.stepName }">
          <div class="step-inner">{{ step.stepName }}</div>
        </li>
      </ul>
  
      <div id="progress-content-section">
        <!-- Step 1: Basic Details -->
        <div *ngIf="activeStep.stepName === 'Basic Details'" class="section-content active">
          <div class="form-container">
            <!-- First Name and Last Name -->
            <div class="form-group-wrapper">
              <div class="form-group">
                <label for="lastName">Last Name</label>
                <input type="text" [(ngModel)]="addminUserObj.lastName" name="lastName" placeholder="Enter your last name" required>
              </div>
              <div class="form-group">
                <label for="firstName">First Name</label>
                <input type="text" [(ngModel)]="addminUserObj.firstName" name="firstName" placeholder="Enter your first name" required>
              </div>
            </div>
  
            <!-- Email and Phone Number -->
            <div class="form-group-wrapper">
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" [(ngModel)]="addminUserObj.email" name="email" placeholder="Enter your email" required>
              </div>
            </div>
  
            <!-- State of Residence and Country -->
            <div class="form-group-wrapper">
              <div class="form-group">
                <label for="stateOfResidence">State Of Residence</label>
                <input type="text" [(ngModel)]="addminUserObj.stateOfResidence" name="stateOfResidence" placeholder="Enter your state" required>
              </div>
              <div class="form-group">
                <label for="country">Country</label>
                <input type="text" [(ngModel)]="addminUserObj.country" name="country" placeholder="Enter your country" required>
              </div>
            </div>
  
            <!-- Date of Birth and Gender -->
            <div class="form-group-wrapper">
              <div class="form-group">
                <label for="dateOfBirth">Date Of Birth</label>
                <input type="date" [(ngModel)]="addminUserObj.dateOfBirth" name="dateOfBirth" placeholder="Your date of birth" required>
              </div>
              <div class="form-group">
                <label for="gender">Gender</label>
                <select [(ngModel)]="addminUserObj.gender" name="gender" required>
                  <option value="" disabled selected>Select your gender</option>
                  <option *ngFor="let option of genderOptions" [value]="option.id">{{ option.label }}</option>
                </select>
              </div>
            </div>
  
            <!-- Navigation Buttons -->
            <div class="form-actions">
              <!-- <button class="btn btn-outline-secondary btn-sm mt-4" (click)="showIntro = true">Back</button> -->
              <button class="btn btn-primary btn-sm mt-4" (click)="gotoStep2()">Next</button>
            </div>
          </div>
        </div>
  
        <!-- Step 2: Driver Details -->
        <div *ngIf="activeStep.stepName === 'Driver Details'" class="section-content active" style="background-image: url('path_to_image.jpg'); background-size: cover; background-position: center;">
          <div class="form-container">
            <!-- Driver License No. and curret driving school -->
            <div class="form-group-wrapper">
              <div class="form-group">
                <label for="driverLicenseNo">Driver Licence Number</label>
                <input type="text" [(ngModel)]="addminUserObj.driverLicenseNo" name="driverLicenseNo" placeholder="Enter your driver license number" required>
              </div>
              <div class="form-group">
                <label for="nameOfCurrentDrivingSchool">Current Driving School</label>
                <input type="text" [(ngModel)]="addminUserObj.nameOfCurrentDrivingSchool" name="nameOfCurrentDrivingSchool" placeholder="Your current driving school" required>
              </div>
            </div>
  
            <!-- Years of Experience and Level -->
            <div class="form-group-wrapper">
              <div class="form-group">
                <label for="yearsOfExperience">Years Of Experience</label>
                <input type="number" [(ngModel)]="addminUserObj.yearsOfExperience" name="yearsOfExperience" placeholder="Years of experience" required>
              </div>
              <div class="form-group">
                <label for="levelId">Level</label>
                <select [(ngModel)]="addminUserObj.levelId" name="levelId" required>
                  <option value="" disabled selected>Select Level</option>
                  <option *ngFor="let level of levels" [value]="level.id">{{ level.name }}</option>
                </select>
              </div>
            </div>
  
            <!-- Navigation Buttons -->
            <div class="form-actions">
              <button class="btn btn-outline-secondary btn-sm" (click)="gotoPreviousStep()">Back</button>
              <button class="btn btn-primary" (click)="gotoStep3()">Next</button>
            </div>
          </div>
        </div>
  
        <!-- Step 3: Qualifications -->
        <div *ngIf="activeStep.stepName === 'Qualification'" class="section-content active" style="background-image: url('path_to_image.jpg'); background-size: cover; background-position: center;">
          <div class="form-container">
            <button class="btn btn-outline-success mb-4" (click)="addQualification()">Add Qualification</button>
            <table class="table">
              <thead>
                <tr>
                  <th>Degree</th>
                  <th>Field Of Study</th>
                  <th>Institution</th>
                  <th>Year Attained</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let qualification of addminUserObj.academicQualifications; let i = index">
                  <td><input type="text" [(ngModel)]="qualification.degree" class="form-control" placeholder="Degree" required /></td>
                  <td><input type="text" [(ngModel)]="qualification.fieldOfStudy" class="form-control" placeholder="Field of Study" required /></td>
                  <td><input type="text" [(ngModel)]="qualification.institution" class="form-control" placeholder="Institution" required /></td>
                  <td>
                    <select class="form-control" [(ngModel)]="qualification.yearAttained" required>
                      <option value="" disabled selected>Select Year</option>
                      <option *ngFor="let year of years" [value]="year">{{ year }}</option>
                    </select>
                  </td>
                  <td>
                    <div class="action-buttons">
                      <button class="btn btn-primary btn-sm" (click)="saveQualification(i)">Save</button> ||
                      <button class="btn btn-danger btn-sm" (click)="deleteQualification(i)">Delete</button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
  
            <div class="form-actions">
              <button class="btn btn-outline-secondary" (click)="gotoPreviousStep()">Back</button>
              <button class="btn btn-success" (click)="addAdmin()">Add Admin</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  




