<div class="parent">
  <div class="container mt-5">
      <div *ngIf="payment" class="card border-primary shadow-lg">
          <div class="card-header bg-dark-red text-white">
              <h2 class="mb-0">Payment Details</h2>
          </div>
          <ul class="list-group list-group-flush">
              <li class="list-group-item"><b>Payer Fullname: </b> {{ payment.payerFullName }}</li>
              <li class="list-group-item"><b>Payment Purpose: </b> {{ payment.paymentFor }}</li>
              <li class="list-group-item"><b>Payment RefNumber: </b> {{ payment.paymentRef }}</li>
              <li class="list-group-item"><b>Amount Paid: </b> {{ payment.amount }}</li>
              <li class="list-group-item"><b>Payment Status: </b> {{ paymentStatusMap[payment.status] }}</li>
              <li class="list-group-item"><b>Payment Date: </b> {{ payment.createdAt | date:'medium' }}</li>
          </ul>
          <div class="card-body d-flex justify-content-between">
              <a [routerLink]="['/payments']" class="btn btn-secondary">Back</a>
              <a [routerLink]="['/payments', payment.paymentRef, 'delete']" class="btn btn-danger">Delete</a>
          </div>
      </div>
  </div>
</div>
