
.main-content {
    padding: 20px;
    flex-grow: 1;
    background-color: #f8f9fa;
}
.card {
    margin-bottom: 20px;
    border-radius: 10px;
    transition: box-shadow 0.3s ease;
}
.card-header {
    background-color: darkblue; /* Blue background color */
    color: white; /* White text color */
    border-bottom: 1px solid #dee2e6;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.card-body {
    background-color: #ffffff; /* White background for card body */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.table th, .table td {
    vertical-align: middle;
}
button {
    padding: 5px 10px;
    margin: 0 3px;
    border: none;
    border-radius: 3px;
    
    color: white;
    cursor: pointer;
    font-size: 10px; /* Slightly smaller font size */
    transition: background-color 0.3s;
  }