<button class="sidebar-toggle d-md-none" (click)="toggleSidebar()">☰</button>

<div class="sidebar" [class.open]="isSidebarOpen">
  <a class="d-flex align-items-center mb-4 text-dark text-decoration-none border-bottom pb-3">
    <svg class="bi me-2" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
    <span [routerLink]="['/member/dashboard']" class="fs-5 fw-semibold dashboard-title">Member Dashboard</span>
  </a>

  <ul class="nav flex-column">
    <li class="nav-item" *ngFor="let section of sidebarSections">
      <a class="btn btn-toggle d-flex align-items-center"
         data-bs-toggle="collapse"
         [attr.data-bs-target]="'#' + section.id"
         aria-expanded="false">
        <i class="{{ section.icon }} me-2"></i> {{ section.title }}
        <i class="bi bi-caret-down-fill ms-auto dropdown-icon"></i>
      </a>
      <div class="collapse" [id]="section.id">
        <ul class="btn-toggle-nav list-unstyled fw-normal small ps-3">
          <li *ngFor="let link of section.links">
            <a class="dropdown-item" [routerLink]="[link.route]">
              <i class="{{ link.icon }} me-2"></i> {{ link.label }}
            </a>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</div>
