<div class="container">
    <h1 class="header">Payments</h1>
    <div *ngIf="paginatedData && paginatedData.length > 0; else noPayments">
        <!-- Controls Section -->
        <div class="controls-section">
            <!-- Dropdown for selecting page size -->
            <div class="page-size">
                <label for="pageSize"><b>Select Page Size:</b></label>
                <select [(ngModel)]="pageSize" (change)="onPageSizeChange()">
                    <option *ngFor="let size of pageSizes" [value]="size">{{size}}</option>
                </select>
            </div>

            <!-- Pagination controls -->
            <div class="pagination-controls">
                <button class="btn btn-primary" (click)="previousPage()" [disabled]="pageNumber === 1">Previous</button>
                <span><b>{{ pageNumber }}</b></span>
                <button class="btn btn-primary" (click)="nextPage()"
                    [disabled]="(pageNumber * pageSize) >= totalPayments">Next</button>
            </div>
        </div>

        <table id="example" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Sr No</th>
                    <th>Payer's FullName</th>
                    <th>Payment Purpose</th>
                    <th>Payment RefNumber</th>
                    <th>Payment Date</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of paginatedData; let i = index">
                    <td>{{ (pageNumber - 1) * pageSize + i + 1 }}</td>
                    <td>{{ item.payerFullName }}</td>
                    <td>{{ item.paymentFor }}</td>
                    <td>{{ item.paymentRef }}</td>
                    <td>{{ item.createdAt }}</td>
                    <td>
                        <button class="btn btn-primary" [routerLink]="['/payments', item.paymentRef]">Detail</button>
                        <button class="btn btn-danger"  [routerLink]="['/payments', item.paymentRef, 'delete']">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>

    <ng-template #noPayments>
        <p class="no-payments-message">
            <b>No payments made at the moment.</b>
        </p>
    </ng-template>
</div>
